# Git
.git
.gitignore

# Node
node_modules
npm-debug.log

# Build output
dist

# Environment
.env
.env.*
!.env.example

# OS / Editor
.DS_Store
Thumbs.db
*.desktop

# IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp 